{{#each images as |image|}}
  <section data-id="{{image._id}}" style="margin: 10px;">
      {{#if image.url}}
          <img data-toggle="tooltip" data-placement="top" title="created on {{image.createdAt}} updated on {{image.updatedAt}}" class="hover img-thumbnail thumbnail img-fluid" src="{{image.url}}"img/>
      {{else}}
        {{image.name}}
      {{/if}}
    <!-- {{> partial}} -->
  </section>

{{/each}}
