{{#each images as |image|}}
  <section data-id="{{image.id}}" style="margin: 10px;">
    <p>
      {{#if image.url}}
        <img src = "{{image.url}}"img/>
      {{else}}
        {{image.name}}
      {{/if}}
    </p>
    <!-- <div class="pokemon-listing-button text-center">
      <button class="btn btn-danger delete-button" data-id="{{pokemon.id}}">Delete</button>
      <button class="btn btn-warning update-button" data-toggle="modal" data-target="#updatePokemonModal" data-id="{{pokemon.id}}">Update</button>
    </div> -->
    <!-- {{> partial}} -->
  </section>

{{/each}}
